<div class="cx-home-header">
    <div class="cx-home-header-brand">
        <ul class="cx-header-ul">
            <li class="cx-header-li raytheon-logo">&nbsp;</li>
            <li class="cx-header-li cx-header-logo">Customer Visibility Assessment</li>
            <li class="cx-header-li cx-header-um">
                <app-usermenu></app-usermenu>
            </li>
        </ul>
    </div>
    <div class="cx-home-nav" >
        <!--start of nav-->
        <ul class="cx-nav-menu pull-left">
        </ul>
        <!--end of nav-->

        <div class="clearfix"></div>
    </div>
</div>
<div class="cx-w100 cx-home-content">
    <router-outlet></router-outlet>
</div>
